#wrap {
    position: relative;
    flex: 1 0 auto;
    background: #fff;
}

.main-page-content{
    background: #F9F8FD;
}

.container-large{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-large {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.text-content {
    margin-top: 20px;
    max-width: 624px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-content h1 {
    font-size: 48px;
    font-weight: 1000;
    line-height: 56px;
}

.text-content p {
    margin: 16px 0;
}

.container-large .shot-content{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #9e9ea7;
    align-items: center;
    width: 100%;
}

.container-large .shot-content .shot-image {
    width: 100%;
    height: 300px;
    background-image: url('../assets/images/main.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container-rooms {
    padding: 32px 32px 40px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
}

.room-title {
    padding-right: 72px;
    padding-left: 72px;
}

.room-title h1{
    font-size: 30px;
    font-weight: 500;

}

#content{
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
}

#main{
    float: left;
    width: 75%;
}

#main.main-full {
    float: none;
    width: auto;
    max-width: none;
}

ol.dribbles {
    margin: 0 auto;
}

.shots-grid {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 36px;
}

.container-fluid{
    padding-right: 20px;
    padding-left: 20px;
}

.shot-details {
    border-radius: 10px;
}

.shot-thumbnail-base {
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 75%;
    height: 0;
    position: relative;
}

.shot-thumbnail-base picture img{
    width: 100%;
    /* height: 100%; */
}

@media (min-width: 768px){
    .container-large{
        height: 480px;
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
        justify-content: space-between;
    }
    .container-large {
        padding-left: 32px;
        padding-right: 32px;
    }

    .text-content {
        margin-top: 0;
        align-items: flex-start;
        text-align: left;
    }
    
    .text-content h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
    }
    
    .container-large .shot-content{
        width: auto;
        align-items: flex-end;
    }
    
    .container-large .shot-content .shot-image {
        width: 400px;
        height: 266px;
    }
    
    .room-title {
        padding-right: 32px;
        padding-left: 32px;
    }

    .inner-wrap{
        padding-top: 40px;
    }

    .container-fluid{
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media (min-width: 1200px){
    .container-large{
        padding-left: 72px;
        padding-right: 72px;
    }

    .text-content h1{
        font-size: 56px;
        font-weight: 700;
        line-height: 56px;
    }
    
    .text-content p {
        font-size: 20px;
    }

    .container-large .shot-content .shot-image {
        width: 610px;
        height: 380px;
    }

    .room-title {
        padding-right: 72px;
        padding-left: 72px;
    }

    .container-fluid{
        padding-right: 72px;
        padding-left: 72px;
    }
}

@media (min-width: 1600px){
    .container-large .text-content {
        margin-left: 100px;
    }

    .container-large .shot-content {
        margin-right: 100px;
    }

    .shots-grid {
        grid-template-columns: repeat(auto-fill, minmax(334px, 1fr));
    }
}
