#wrap {
    position: relative;
    flex: 1 0 auto;
    background: #fff;
}

.main-page-content{
    background: #F9F8FD;
    /* ;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover; */
}

.signed-out-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-large {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.text-content {
    margin-top: 20px;
    max-width: 624px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.text-content p {
    margin: 16px 0;
}

.signed-out-main .shot-content{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #9e9ea7;
    align-items: center;
    width: 100%;
}

.signed-out-main .shot-content .shot-image {
    width: 100%;
    height: 300px;
    background-image: url('../assets/images/main.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 768px){
    .signed-out-main{
        height: 480px;
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
        justify-content: space-between;
    }
    .container-large {
        padding-left: 32px;
        padding-right: 32px;
    }

    .text-content {
        margin-top: 0;
        align-items: flex-start;
        text-align: left;
    }

    .text-content h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
    }

    .signed-out-main .shot-content{
        width: auto;
        align-items: flex-end;
    }

    .signed-out-main .shot-content .shot-image {
        width: 400px;
        height: 266px;
    }
}

@media (min-width: 1200px){
    .container-large{
        padding-left: 72px;
        padding-right: 72px;
    }

    .text-content h1{
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
    }
    .signed-out-main .shot-content .shot-image {
        width: 510px;
        height: 360px;
    }
}
